version: '3.8'

services:
  web:
    build: .
    # Entrypoint skripti tugagach, mana shu buyruq ishlaydi:
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=ecom_db
      - POSTGRES_USER=ecom_user
      - POSTGRES_PASSWORD=samandar@1975

  redis:
    image: redis:7-alpine

  # Yangi Celery ishchisi
  celery:
    build: .
    entrypoint: sh -c "celery -A core worker --loglevel=info"
    volumes:
      - .:/app
    environment:
      - DEBUG=True
    env_file:
      - .env
    depends_on:
      - db
      - redis 

volumes:
  postgres_data:
  # QUYIDAGI QATORNI QO'SHING: Volume yaratish
  pip_cache: